

body { margin: 0; 
	}

/* */
content { 
    width: 100vw;
    margin: 0.1vw;
    border: 0.1vw solid yellow;
	padding: 0;
	background: white;
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	align-content: center;
   }

/* */
nav.pages {
 	width: 100vw;
 	height: 4vw;
 	border: 0.1vw solid red;
    display: flex;
    flex-direction: row;
	box-sizing: border-box;
	flex-wrap: wrap;

 }

 /* */
nav .company {
 	border: 0.1vw solid blue;
	width: 46vw;
	height: 4vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;

 }

/* */
div.company {
	background: url(./emblem.svg) no-repeat;
	background-size: contain;
	background-position: left;
}

/* */
nav .menu {
	width: 53vw;
	height: 4vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: 0.1vw solid green;
	box-sizing: border-box;
 }

.navigation {
	height: 3.5vw;
	margin: 0 1vw 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-transform: uppercase;
	color: #7d8c9b;
	font-family: 'Source Sans Pro', sans-serif;
}

.choose {
		height: 3.5vw;
}
.choose:hover {
	border-bottom: 0.5vw #fbcc00 solid;
	background: #88CAD5;
}


/*___________________________________________________*/

/*Filter Groups of cards*/
.groups {
	width: 100vw;
	height: 4vw;
	border: 0.1vw solid black;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
 	background-color: #f7f5e6;

}

/* Groups of cards - text style */
section.groups div {
	color: #5a6772;
 	font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    margin: 0 2vw 0;
}
/*____________________________________________________*/

/*All content is here */
.container {
	width: 100vw;
	border: 0.1 solid black;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}


/*Style for 4 main card */
div.cards {
	position: relative;
}

/*Style for every first card*/
div.cards:nth-child(1) {
 	width: 49.4vw;
 	height: 42vw;
	background: url(./blue.svg) no-repeat;	
		background-size: cover;
	background-position: center;
}

/*Style for every second card*/
div.cards:nth-child(2) {
 	width: 49.4vw;
 	height: 42vw;
	background: url(./violet.svg) no-repeat;
		background-size: cover;
	background-position: center;	
}

/* */
div.cards:nth-child(3) {
 	height: 27vw;
	width: 49.4vw;
	background: url(./marine.svg) no-repeat;
		background-size: cover;
	background-position: center;	
}

/* */
div.cards:nth-child(4) {
 	height: 27vw;
	width: 49.4vw;
	background: url(./bright.png) no-repeat;
		background-size: cover;
	background-position: center;	
}
/*____________________________________________________*/



.name {
	height: 2.2vw;
	width: 10vw;
	border-radius: 0.5vw;
	margin: 0.1vw;
	font-size: 1.2vw;
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	position: absolute;
	top: 3vw;
	left: 2vw;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.blue .name {
	color: white;
	background-color: #058cff;
}

div.violet .name {
	color: white;
	background-color: #db28b3;
}

div.marine .name {
	color: white;
	background-color: #02828e;
}

div.bright .name {
		color: #5a6772;
	background-color: #ffffff;
}

.type {
	position: absolute;
	top: 8vw;
	left: 2vw;
	width: 16vw;
	height: 12vw;
	font-size: 4vw;
	text-transform: uppercase;
	color: white;
}

div.bright .type {
	color: #5a6772;
}

.description {
	font-size: 1.5vw;
	font-family: 'Source Sans Pro', sans-serif;
	height: 37vw;
	width: 20vw;
	padding: 1vw;
	margin: 0.1vw;
	position: absolute;
	top: 16vw;
	left: 2vw;
	overflow: hidden;
	color: white;
}

div.bright .description {
	color: #5a6772;
}

.buy {
	position: absolute;
	top: 4vw;
	right: 6vw;
}

.button {
	color: white;
	font-size: 1.5vw;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	background-color: #22b0d9;
	border: 0.1vw solid #22b0d9;
	height: 4vw;
	width: 8vw;
	border-radius: 0.5vw;
}

div.buy .button::after {
    content: ''; 
    position: absolute; 
   	top: 0vw; 	/* Положение треугольника */
	left: 7.7vw; /* Положение треугольника */
    border: 2vw solid transparent; /* Прозрачные границы */
    border-left: 2vw solid #22b0d9; /* Добавляем треугольник */
   }


.price {
	height: 4vw;
	width: 12vw;
	position: absolute;
	bottom: 4vw;
	right: 6vw;
	color: black;
	font-size: 3vw;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f5c600;
	border-radius: 0.5vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

/*____________________*/

div.slider {
	width: 100vw;
	height: 45vw;
	background-size: cover;
	background-position: center;
	background: url(./slider.svg) no-repeat;
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;

}

.slider .text {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	color: #ffffff;
	position: absolute;
	top: 3vw;
}

.text {
	display: flex;
	align-content: center;
}

h1 {
	text-transform: uppercase;
	font-size: 3vw;
}

h3 {
	width: 40vw;
}

.text {
	font-family: 'Source Sans Pro', sans-serif;
}

div.slider .button {
	position: absolute;
	top: 25vw;
	left: 20vw;
}

.next {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: absolute;
	top: 5vw;
	right: 2vw;
}

.circle {
	width: 1vw;
	height: 1vw;
	border: 0.2vw solid #ffffff;
	border-radius: 50%;
	margin: 2vw 2vw 2vw;

}

.circle:hover {
	background-color: #f5c800;
}

.timer {
	background: url(./timer.svg) no-repeat;
	background-size: contain;
	width: 5vw;
	height: 5vw;
	position: absolute;
	bottom: 0vw;
	left: 93.4vw;	
}