<!DOCTYPE html>
<html>
  <head>
    <title> JSON </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<button id='getJSON'> GET JSON </button> 
  </body>
  <script type="text/javascript" src="/js/jsonResponse.js"></script>
</html>
