<!DOCTYPE html>
<html>
  <head>
    <title> JSON </title>
  </head>
  <body>
<button id='getJSON'> GET JSON </button> 
<script type="text/javascript" src="/js/jsonResponse.js"></script>
  </body>

</html>
